<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Remiders App</title>
  <link rel="stylesheet" href="/node/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="/public/css/root.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <aside class="col-4 p-0"><%- include("./partilas/sidebar") %></aside>
      <div class="col-8 p-0" id="content">
        <div class="row">
          <div class="col-12">
            <div class="reminders-content">
              <h1 class="content-header">Tümü</h1>
              <p class="content-statics-text">0 Görev Tamamlandı <span class="content-statics-span">⋅</span><button
                  class="content-statics-link">Temizle</button></p>
              <hr class="content-hr">
              <div class="reminders-list-area">
                <div class="reminder-area">
                  <h3 class="remider-header">Remiders</h3>
                  <ul class="remider-list">
                    <li class="remider-item done">
                      <div class="remContent">
                        <label for="rem49387593" class="remCheckbox">
                          <input type="checkbox" name="complete" id="rem49387593">
                        </label>
                        <div class="remInfo">
                          <h4 class="title"> Todo 1</h4>
                          <p class="description">Todo 1 - Description</p>
                          <div class="infoBox">
                            <span class="infoItem">30/10/2022</span>
                            <span class="infoItem">3:00 PM</span>
                            <span class="infoItem">Every 5 Days</span>
                          </div>
                          <div class="tagBox">
                            <span class="tagItem">#design</span>
                            <span class="tagItem">#code</span>
                            <span class="tagItem">#javascript</span>
                            <span class="tagItem">#express</span>
                          </div>
                        </div>
                        <div class="remActions">
                          <button class=" fa-solid fa-trash"></button>
                          <button class="fa-solid fa-pencil"></button>
                        </div>
                      </div>
                      <div class="remSplit">
                        <hr class="remSplitHr">
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="reminder-area">
                  <h3 class="remider-header">Shopping</h3>
                  <ul class="remider-list">
                    <li class="remider-item done">
                      <div class="remContent">
                        <label for="rem49387593" class="remCheckbox">
                          <input type="checkbox" name="complete" id="rem49387593">
                        </label>
                        <div class="remInfo">
                          <h4 class="title"></h4>
                          <p class="description"></p>
                          <div class="infoBox">
                            <span class="infoItem">30/10/2022</span>
                            <span class="infoItem">3:00 PM</span>
                            <span class="infoItem">Every 5 Days</span>
                          </div>
                          <div class="tagBox">
                            <span class="tagItem">#design</span>
                            <span class="tagItem">#code</span>
                            <span class="tagItem">#javascript</span>
                            <span class="tagItem">#express</span>
                          </div>
                        </div>
                        <div class="remActions">
                          <button class=" fa-solid fa-trash"></button>
                          <button class="fa-solid fa-pencil"></button>
                        </div>
                      </div>
                      <div class="remSplit">
                        <hr class="remSplitHr">
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/public/js/index.js"></script>
</body>

</html>