<div class="sidebar d-flex flex-column  ">

  <div class="row mb-3">
    <div class="col-12">
      <form class="sidebarForm" id="sidebarForm">
        <i class="fa-solid fa-search"></i>
        <input type="text" class="sidebarForm-input " placeholder="Search" name="todoSearch" id="todoSearch"></label>
      </form>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12" id="badgeList">
      <ul class="badgeList">

        <li class="badgeItem">
          <span class="badgeItem-span">
            <div class="badgeItem-icon">
              <span>🔔</span>
            </div>
            <p class="badgeItem-text">Bugün</p>
          </span>
          <span class="badgeItem-span">
            <h2 class="badgeItem-count">5</h2>
          </span>
        </li>

        <li class="badgeItem">
          <span class="badgeItem-span">
            <div class="badgeItem-icon">
              <span>🔔</span>
            </div>
            <p class="badgeItem-text">Bugün</p>
          </span>
          <span class="badgeItem-span">
            <h3 class="badgeItem-count">5</h3>
          </span>
        </li>
        <li class="badgeItem">
          <span class="badgeItem-span">
            <div class="badgeItem-icon">
              <span>🔔</span>
            </div>
            <p class="badgeItem-text">Bugün</p>
          </span>
          <span class="badgeItem-span">
            <h3 class="badgeItem-count">5</h3>
          </span>
        </li>
        <li class="badgeItem">
          <span class="badgeItem-span">
            <div class="badgeItem-icon">
              <span>🔔</span>
            </div>
            <p class="badgeItem-text">Bugün</p>
          </span>
          <span class="badgeItem-span">
            <h3 class="badgeItem-count">5</h3>
          </span>
        </li>
      </ul>
    </div>
  </div> <!-- Badges -->

  <div class="row">
    <div class="col categoriesTagWrapper">
      <div class="row my-3">
        <div class="col-12">
          <h6 class="categoryList-header">Kategoriler</h6>
          <ul class="categoryList" id="categoryList">
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">3</span>

            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🛍</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">1</span>
            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🔔</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">0</span>
            </li>
            <li class="categoryItem">
              <div class="categoryItem-icon">
                <span>🛍</span>
              </div>
              <p class="categoryItem-text">
                Anımsatıcılar
              </p>
              <button class="categoryItem-button">
                <i class=" fa-solid fa-map-pin"></i>
              </button>
              <span class="categoryItem-count">5</span>
            </li>
          </ul>
        </div>
      </div> <!-- Categories -->
      <div class="row my-3">
        <div class="col-12">
          <h6 class="tagList-header">Etiketler</h6>
          <ul class="tagList">
            <li class="tagItem">
              <a href="index?tag=All" class="tagLink"> Tümü </a>
            </li>
            <li class="tagItem">
              <a href="index?tag=Design" class="tagLink"> Tasarım </a>
            </li>
            <li class="tagItem">
              <a href="index?tag=SF-Project" class="tagLink"> SF Projesi </a>
            </li>
          </ul>
        </div>
      </div> <!-- Tags -->
    </div>
    <div class="row mt-3 mx-1">
      <div class="col">
        <button id="sidebarCategoryAddBtn" class="sidebarBtn" modal="categoryAdd">
          <i class="fa-solid fa-circle-plus"></i> <span>Kategori Ekle</span>
        </button>
      </div>
    </div>
  </div>

</div> <!-- Sidebar -->