<div class="modalWrapper">
    <div class="todoFormContainer">
        <form action="#" method="post">
            <label for="todoTitle">
                <b></b>><input type="text" name="title" id="todoTitle" placeholder="Title..." class="formInput">
            </label>
        </form>
    </div>
</div>