<div class="modalWrapper">
    <div class="todoFormContainer">
        <form class="todoForm" action="#" method="post">
            <label for="todoTitle" class="todoFormLabel">
                <b>Başlık:</b> <input type="text" name="title" id="todoTitle" placeholder="Title..." class="formInput">
            </label>
            <label for="todoDescription" class="todoFormLabel">
                <b>Açıklama:</b> <input name="description" id="todoDescription" placeholder="Description..."
                    class="formInput">
            </label>
            <div class="todoFormLabelGroup">
                <label for="todoDate" class="todoFormLabel">
                    <b>Tarih:</b> <input type="date" name="date" id="todoDate"
                        value="<%= new Date().toISOString().slice(0, 10) %>" class="formInput">
                </label>
                <label for="todoTime" class="todoFormLabel">
                    <b>Saat:</b> <input type="time" name="time" id="todoTime" class="formInput">
                </label>
            </div>
            <div class="todoFormActionGroup">
                <button class="formButton btn" type="" >Oluştur</button>
                <button class="formButton btn" type="" >Çık</button>
            </div>
        </form>
    </div>
</div>